.register-container {
	width: 55%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}

.register-container__form {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
}
